body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  
}

#light {
  background-color: #fff;
  transition: .3s ease;
}

#dark {
  background-color: #303030;
  transition: .3s ease;
}

