#obs-divider {
  width: 25%;
}

#add-btn {
  background-color: #7a18fa;
  border: 1px #7a18fa;
  width: 100%;
  margin-top: 1rem;
}

#submit-btn {
  background-color: #7a18fa;
  border: 1px #7a18fa;
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 1030px) {
  #self-exercise {
    width: 90% !important;
  }
  #obs-divider {
    width: 60%;
  }

}