.card-sort {
  display: flex;

}

.values-box {
  width: 400px;
  height: 900px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.12);
  border: 2px solid #303030;
  margin-right: 20px;
  border-radius: 10px;
}

.values-card {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #7a18fa;
  border-radius: 10px;
}

#value-column {

}

#value-column::-webkit-scrollbar-track {
  display: none;
}