.parent-data-container {
  display: flex;
  justify-content: center;
}
.child-data-container {
  width: 50%;
}
.data-container {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  height: 35vh;
  margin-left: 2rem;
}
.data-container-alt {
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  height: 35vh;
  margin-left: 2rem;
  display: block;
}
.l-data-container {
  width: 45%;
  background-color: rgb(235, 235, 235);
  margin-top: 0;
  border-radius: 20px;
  height: 72vh;
}
.data-card {
  width: 150px;
  height: 150px;
  background-color: #f2e8ff;
  border: 3px solid #9747FF;
  position: relative;
  display: flex;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  transition: .3s ease-in-out;
}

.data-card:hover {
  width: 150px;
  height: 150px;
  transform: translateY(-8px);
  transition: .3s ease-in-out;
}

.data-card-icon {
  padding: 1rem;
}
.data-card-text {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: end;
  color: #9747FF;
}

.data-card-text p {
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 2rem;
}

.data-card-text h5 {
  margin-right: 1rem;
  font-size: small;
}

@media screen and (max-width: 1030px) {
  
  .parent-data-container {
    display: block;
    width: 95%;
    margin-inline: auto;

  }
  .data-container {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
  }
  .data-card {
    height: 130px;
    width: 130px;
  }
  .l-data-container {
    width: 100%;
    height: 35vh;
  }
  .child-data-container {
    width: 100%;
  }
  .data-container-alt {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3rem;
  }
  .data-card-text p {
    margin-right: 10px;
  }
  .data-card-text h5 {
    margin-right: 10px;
  }
  .data-card:hover {
    height: 130px;
    width: 130px;
    transform: none;
  }
}