.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 1;
  transition: .3s ease-in;
  overflow-y: hidden;
}

#light .background {
  background-color: rgba(200,200, 200, .87);
}

#dark .background {
  background-color: rgba(100,100, 100, .87);
}

.background-hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: FadeOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  transition: .5s ease-out;
}

.my-modal-container {
  width: 600px;
  height: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  animation-name: SlideUp;
  animation-duration: .5s;
  flex-direction: column;
}

#light .my-modal-container {
  background-color: #fff;
}
#dark .my-modal-container {
  background-color: #4E4e4e;
}

.my-modal-container-hidden {
  width: 600px;
  height: 600px;
  margin-top: 3rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  animation-name: SlideDown;
  animation-duration: .5s;
}

#light .my-modal-container-hidden {
  background-color: #fff;
}

#dark .my-modal-container-hidden {
  background-color: #4E4e4e;
}

.my-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#dark .my-modal-close {
  color:rgba(255,255, 255, .87)
}

.my-modal-body {
  width: 550px;
  height: 550px;
  margin-top: 1rem;
}

#light .my-modal-title {
 
}
#dark .my-modal-title {
 color: rgba(255,255, 255, .87);
}

.mood {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#light .rate-feeling > h4 {
  color: #303030;
}

#dark .rate-feeling > h4 {
  color: rgba(255,255, 255, .60);
}

#light .entry-form {

}

.my-modal-footer {
  margin: 1rem;
  display: flex;
  width: 550px;
  justify-content: center;
}

#light #my-modal-submit {
  background-color: #A967FF;
  border: #A967FF;
  color: rgba(255,255, 255, .87);
  width: 300px;
}

#dark #my-modal-submit {
  background-color: #A967FF;
  border: #A967FF;
  color:rgba(255,255, 255, .87);
  width: 300px;
}

#dark .entry-form {
  color: rgba(255,255, 255, .60);
  font-weight: 200;
}


.toolbar-toggle {
  transition: .3s ease-in-out;
}
.delete-modal-open {
  opacity: 1;
  transform: translateX(-25px);
  transition: .3s ease-in-out;
}
.delete-modal-close {
  opacity: 0;
  transform: translateX(50px);
  transition: .3s ease-in-out;
}

#delete-btn {
  
}
#delete-btn:hover {
  transform: scale(1.1);
  z-index: 100;
}

@keyframes SlideUp {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes SlideDown {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes OpenTools {
  
}