.exercise-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  height: 80vh;
}
.st-cont {
  display: block;

}
.circle-container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  position: relative;
}

.circle {
  height: 150px;
  width: 150px;
  background: #9747FF;
  border-radius: 50%;
  position: absolute;
}
.circle2 {
  height: 140px;
  width: 140px;
  background: #b989f9;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}
.circle3 {
  height: 130px;
  width: 130px;
  background: #d5bbf7;
  border-radius: 50%;
  position: absolute;
  top: 10px;
}
.circle4 {
  height: 120px;
  width: 120px;
  background: #e9ddf9;
  border-radius: 50%;
  position: absolute;
  top: 15px;
}
.circle5 {
  height: 110px;
  width: 110px;
  background: #f4ebff;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}
.breathe-container {
  display: flex;
  justify-content: center;
}
.breathe {
  z-index: 3;
  position: absolute;
  top:60px;
  font-size: x-large;
  color: #b989f9;
}
.done {
  font-size: x-large;
  color: #b989f9;
}

.go-back {
  color: #b989f9;
}

.btn-container {
  margin-top: 1rem;
  padding-top: 0;
}
#back-btn {
  transition: .3s ease-in-out;
}
#back-btn:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: .3s ease-in-out;
}
.timer-container {
  display: flex;
  justify-content: center;
}
.breathing-footer {
  margin-top: 17rem;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  height: 20%;
}
#pref-card {
  width: 30%;
}


@media screen and (max-width: 1030px) {
  #num-form {
    width: 25% !important;
  }
  #pref-container {
    width: 100% !important;
  }
  #pref-card {
    width: 80%;
  }
  #num-form {
    width: 100% !important;
  }
  .circle-container {
    margin-top: 70%;
  }
}