.card-box {
  padding: 2.4rem 1.6rem, 3rem;
  border-radius: 22px;
  border: 3px solid #9747FF;
  box-shadow: 0 20px 40px -16px rgb(0 0 0 / 40%);
  /* background: linear-gradient(-5deg,#479aa5,#5473cb 60%,#3e509d); */
  background: #f2e8ff;
  height: 15rem;
  position: relative;
  transition: .2s ease;
  text-decoration: none;
  color: #9747FF;
  width: 20rem;
  justify-self: center;
}
.card-box:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.01);
  transition: .2s ease;
  color: #9747FF;
}
.card-box p {
  margin: 1rem 2rem;
  font-size: xx-large;
}
.card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-img {
  max-width: 35%;
  width: 50px;
  float: right;
  display: block;
  margin-right: 2rem;
}

@media screen and (max-width: 1030px) {
  
}

