.dashboard-container {
  display: flex;
  height: calc(100vh - 4.75rem - 3rem);
  margin-top: 3rem;
}

/* .link-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 0px;
  position: relative;
  height: 100%;
  width: 100%;
 
  padding-block: 2rem;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
} */

.link-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: space-around;
}

.title-and-user-container {
  margin-top: 1rem;
  margin-right: 2rem;
}

@media screen and (max-width: 1030px) {
  .dashboard-container {
    display: block;
    height: 123vh;
  }
  .link-container {
    /* grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    margin-top: 1rem;
    padding-block: 2rem;
    gap: 0;
    row-gap: 20px; */
    display: flex;
    width: '100%';
  }
  .title-and-user-container {
    margin-right: 0;
  }
  .title-and-user-container p {
    font-size: 1.5rem !important;
  }
  
}