.data-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.data-card {
  width: 200px;
  height: 200px;
  background-color: #f2e8ff;
  border: 3px solid #9747FF;
  position: relative;
  display: flex;
  border-radius: 10px;

}
.data-card-icon {
  padding: 1rem;
}
.data-card-text {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: end;
  color: #9747FF;
}

.data-card-text p {
  margin-right: 1rem;
  font-size: 2rem;
  margin-bottom: 0;
}

.data-card-text h5 {
  margin-right: 1rem;
  
}