.footer-container {  
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#dark .footer-container {
  color: '#fff';
  /* transition: .3s ease;
  background-color: #303030; */
}

#light .footer-container {
  color: '#303030';
  transition: .3s ease;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 3rem;
}
.icon {
  margin-inline: 1rem;
}

@media screen and (max-width: 1030px) {
  
}