.footer-container {
  margin-top: 3rem;
  background-color: #303030;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

@media screen and (max-width: 1030px) {
  
}