.entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
}

.entry-empty {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-empty > div > h3 {
  text-align: center;
}

#light .entry-empty > div > h3 {
  color: #303030;
}

#dark .entry-empty > div > h3 {
  color: rgba(255,255,255, .87);
}



.entry {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-inline: 1rem;
  height: 100px;
  width: 400px;
  margin-bottom: 32px;
  position: relative;
  border-radius: 5px;
  transition: .3s ease-out;
}

.entry:hover {
  transform: translateY(-5px) scale(1.01);
  transition: .3s ease-in;
  
}

.entry-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
}
.entry-ribbon > p {
  
}

#light .entry-ribbon {
  background-color: #f2e8ff;
  color: #9747FF;
}

#dark .entry-ribbon {
  background-color: #A967FF;
  color: #f2e8ff;
}

#light .entry {
  color: #303030;
  background-color: #fff;
  box-shadow: 0 1px 4px 1px rgba(200,200,200,0.5);
}

#dark .entry {
  color: rgba(255,255,255, .87);
  background-color: #4E4E4E;
  box-shadow: none;
}

#light .entry:hover {
  box-shadow: 0 2px 8px 2px rgba(200,200,200,0.5);
}

.entry-title {
  display: flex;
  height: 100px;
  align-items: center;
}


#add-icon {
  margin-right: 2rem;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#light #add-icon {
  background-color: #B379FE;
  translate: .1s ease-out;
}
#light #add-icon:hover {
  transform: scale(1.05);
  transition: .1s ease-in;
}
#dark #add-icon {
  background-color: #B379FE;
}