.main-wrapper {
  margin-top: 3rem;
  display: block;
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}

.header {
  margin-top: 1rem;
  font-size: xx-large;
  margin-bottom: .5rem;
}

.div-divider {
  height: 1px;
  width: 100%;
  background-color: rgb(150, 150, 150);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
}

.btn-container {
  display: block;
  margin-inline: auto;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.about-button {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.09);
  background-color: rgba(228, 228, 228, 0.055); 
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: large;
  text-align: center;
  padding-inline: 2rem;
  transition: .5s ease-in-out;
  text-decoration: none;
}

.about-button:hover {
  transition: .5s ease-in-out;
  transform: scale(1.05) !important;
  cursor: pointer;
}
.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.pic-content {
  width: 600px;
}

circle {
  animation: CircleUpAndDown 9s linear infinite;
}

ellipse {
  animation: EllipseGrow 8s ease-in-out infinite;
}

@keyframes CircleUpAndDown {
  0% {
    transform: translateY(3px);
  }
  25% {
    transform: translatex(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translatex(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes EllipseGrow {
  0% {
    rx: 65px;
    ry: 63.5px;
    
  }
  50% {
    rx: 72px;
    ry: 70.5px;
    fill: #47c9ba;
  }
  100% {
    rx: 65px;
    ry: 63.5px;
    
  }

}