.main-wrapper {
  margin-top: 3rem;
  display: block;
  max-width: 85%;
  margin-inline: auto;
  padding: 0;
  margin-bottom: 13rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 65% 35%;
}

.main-grid-alt {
  display: grid;
  grid-template-columns: 35% 65%;
}

.header {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.header > h1 {
  font-size: 5rem;
}

.header-text {
  align-items: center;
  opacity: 0;
  margin-top: 13rem;
  font-size: 1.3rem;
  animation: FadeIn 1s forwards;
  animation-delay: .5s;
  float: right;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-divider {
  margin-top: 1rem;
  height: 3px;
  width: 65%;
  background-color: rgb(150, 150, 150);
  animation: DivSlideRight 1s linear;
  float: left;
}

.div-divider-alt {
  margin-top: 1rem;
  height: 3px;
  width: 65%;
  background-color: rgb(150, 150, 150);
  animation: DivSlideRight 1s linear;
  float: right;
}

.pic-container {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
}
.pic-container-alt {
  display: flex;
  justify-content: end;
  align-items: center;
  overflow-x: hidden;
  float: right;
}

.pic-content {
  width: 600px;
}


@keyframes DivSlideRight {
  from {
    width: 0;
  }
  to {
    width: 35%
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1030px) {
  .main-grid {
    display: block;
    margin-inline: auto;
    width: 100%;
    height: 100%;
  }
  .header {
    display: block;
  }
  .header-text {
    display: block;
    margin-top: 1rem;

  }
  .main-grid-alt {
    display: block;
    margin-inline: auto;
    width: 100%;
  }
  .pic-content {
    width: 400px
  }
  .main-wrapper {
    max-width: 93%;
  }
}