
.animate-fade-up {
  opacity: 0;
  animation: FadeInAndUp .5s forwards;
  margin-inline: auto;
}

#light #title-container {
  color: #303030;
}

#dark #title-container {
  color: #fff;
}

#process-container {
  width: 75% !important;
}

#light #process-container {
  color: #303030;
}

#dark #process-container {
  color: #fff;
}

#back-dir {
  width: 75%;
  margin-block: 0;
  padding: 0;
  margin-inline: auto;
}

.back {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-content: center;
  margin-inline: 0;
  padding-inline: 0;
  width: 100%;
  height: fit-content;
}

#light .back {
  color: #303030;
}

#dark .back {
  color: #fff;
}

.back:hover {
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  #process-container {
    width: 95% !important;
  }
  #back-dir {
    width: 95%;
  }
}


@keyframes FadeInAndUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    height: auto;
    transform: translateY(0);
  }
}