
.animate-fade-up {
  opacity: 0;
  animation: FadeInAndUp .5s forwards;
}

.back {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-content: center;
  width: 140px;
}
.back:hover {
  cursor: pointer;
}


@keyframes FadeInAndUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    height: auto;
    transform: translateY(0);
  }
}